* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.no-interaction {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

hr {
    width: 70%;
    margin: 35px auto 20px;
}

/*Header*/
header {
    background-color: rgb(80, 136, 193);
    padding: 22px 0;
}

#page-title-div {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.page-title {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 0px 0px 4px rgb(79, 79, 79);
}

/*Main - splitt*/
#splitt-table {
    margin: 20px auto 20px;
    width: 250px;
    border-collapse: collapse;
}

#splitt-title {
    font-size: 1.7rem;
    padding: 6px;
}

#splitt-table th {
    text-align: center;
}

#splitt-table td {
    text-align: left;
}

#splitt-table th,
#splitt-table td {
    border: solid 1px black;
    padding: 5px 10px;
}

/*Main - menu*/
#workout-menu-title {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 0 20px;
}

#menu-see-workout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
    padding: 0px 10px;
    width: min-content;
    border-radius: 13px;
    border: 3px rgb(77, 86, 104) solid;
    background: rgb(67, 69, 92);
    background: radial-gradient(circle, rgb(45, 61, 78) 0%, rgb(39, 45, 59) 100%);
}

.menu-see-workout-day {
    position: relative;
    color: rgb(234, 234, 234);
    padding: 12px 5px;
}

.menu-see-workout-day:hover {
    cursor: pointer;
}

.menu-see-workout-day.clicked {
    border-right: 3px rgb(77, 86, 104) solid;
    border-left: 3px rgb(77, 86, 104) solid;
    padding: 12px 2px;
    background: rgb(46, 47, 63);
    background: radial-gradient(circle, rgb(75, 95, 117) 0%, rgb(66, 75, 99) 100%);
}

/*Main - see workout display*/
#rest-day-display-text {
    width: min-content;
    white-space: nowrap;
    margin: 10px auto;
}

#workout-plan-day-table {
    margin: 15px auto 400px;
    border-collapse: collapse;
    width: 250px;
}

#workout-plan-day-table td,
#workout-plan-day-table th {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}

@media (max-width: 767px) {
    #page-title-div {
        flex-direction: column;
        gap: 7px;
    }

    #menu-see-workout {
        max-width: 250px;
        overflow-x: auto;
    }
}
@media (max-width: 480px) {}
@media (max-width: 320px) {}